.item {
  width: calc(33.3333% - 40px); /* 300px - 20px * 2 (padding) */
  border: 2px solid #ccc;
  padding: 20px; /* Keep padding in pixels for consistent spacing */
  text-align: center;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%; 
    height: auto; /* Maintain aspect ratio */
    max-height: 200px; /* Limit maximum height */
    object-fit: cover; 
    border-radius: 8px;
  }

  p {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
    font-weight: 500;
  }

  .item--prices {
    display: flex;
    justify-content: center;
    align-items: center;

    .item--price--new {
      color: #374151;
      font-size: 18px;
      font-weight: 600;
    }

    .item--price--old {
      color: #8c8c8c;
      font-size: 16px;
      font-weight: 500;
      text-decoration: line-through;
      margin-left: 10px;
    }
  }
}
