.item {
  width: calc(33.3333% - 40px); 
  padding: 20px; 
  text-align: center;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%; 
    height: auto; 
    max-height: 200px;
    object-fit: cover; 
    border-radius: 8px;
  }

  p {
    margin: 10px 0;
    font-size: 18px;
    color: #fcf6f6;
    font-weight: 500;
  }

  .item--prices {
    display: flex;
    justify-content: center;
    align-items: center;

    .item--price--new {
      color: #d7d7f1;
      font-size: 18px;
      font-weight: 600;
    }

    .item--price--old {
      color: #817f7f;
      font-size: 16px;
      font-weight: 500;
      text-decoration: line-through;
      margin-left: 10px;
    }
  }
}
